<connectionStrings>
  <add name="NewContext" connectionString="server=localhost;user id=root;database=vinesense;password=hidden" providerName="MySql.Data.MySqlClient" />
  <add name="LegacyContext" connectionString="server=localhost;user id=root;database=viticulture;password=hidden" providerName="MySql.Data.MySqlClient" />
</connectionStrings>